html {
    background-color: #0f1117;
}

.innerDiv{
    color: white;
    background-color: #181d27;
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    
}

.outerDiv{
    display: flex;
    margin: auto;
    width: 450px;
    height: 250px;
    background-color: #177f58;
    border-radius: 5px;
}

.record{
    font-size:5em;
}

.btn-section{
    align-items: center;
    display: flex;
    background-color: #0f1117;
    margin-top: 20px;
    border-radius: 5px;
    height: 50px;
}

.btn{
    margin-left: 20px;
    cursor: pointer;
}
